{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <style>
        .sub-menu { display: none; margin-left: 20px; }
        .folder-icon, .spinner-icon { margin-right: 5px; }
    </style>
  </head>
  <body>
   
    <!-- Full-width Small Yellow Header -->
    <p class="bg-warning text-white text-center w-100 m-0">mailto@lict.edu.np Gaindakot-4, Kaligandaki Chowk 078 502188, 078 503206</p>
    
    <!-- Full-width Large Custom Dark Blue Header -->
    <h1 class="custom-dark-blue text-white text-center w-100 m-0"><a href="#">Home</a></h1>
    <div class="container-xxl">
        <section class="download-section">
            <h4><b class="bg-warning">Last Update on: </b>2024 Sep 8</h4>
            <h2>About Download Section:</h2>
            <p class="col-6">This page contains different download items that include old question papers, syllabuses, solutions, notes, and more. If you find something missing or need an update, please contact us.</p>
            <!-- Horizontal Line -->
            <hr class="my-4">

            <ul class="download-links">
                {% for category, data in uploads_by_category.items %}
                    {% if data %}
                        <li>
                            <span class="icon-container">
                                <span class="folder-icon">
                                    <i class="fas fa-folder"></i>
                                </span>
                                <span class="spinner-icon">
                                    <i class="fas fa-spinner"></i>
                                </span>
                            </span>
                            <a href="#" onclick="toggleSubMenu(event, '{{ category|slugify }}'); return false;">{{ category }}</a>
                            <ul class="sub-menu" id="{{ category|slugify }}">
                                {% for department, semesters in data.items %}
                                    {% if department %}
                                    
                                        <li>
                                            <span class="icon-container">
                                                <span class="folder-icon">
                                                    <i class="fas fa-folder"></i>
                                                </span>
                                                <span class="spinner-icon">
                                                    <i class="fas fa-spinner"></i>
                                                </span>
                                            </span>

                                            <a href="#" onclick="toggleSubMenu(event, '{{ category|slugify }}-{{ department|slugify }}'); return false;"> {{ department }}</a>
                                            <ul class="sub-menu" id="{{ category|slugify }}-{{ department|slugify }}">

                                                {% for semester, years in semesters.items %}
                                                    {% if semester %}
                                                        <li>
                                                            <span class="icon-container">
                                                                <span class="folder-icon">
                                                                    <i class="fas fa-folder"></i>
                                                                </span>
                                                                <span class="spinner-icon">
                                                                    <i class="fas fa-spinner"></i>
                                                                </span>
                                                            </span>
                                                            <a href="#" onclick="toggleSubMenu(event, '{{ category|slugify }}-{{ department|slugify }}-{{ semester }}'); return false;">{{ semester }} Sem</a>
                                                            <ul class="sub-menu" id="{{ category|slugify }}-{{ department|slugify }}-{{ semester }}">

                                                                {% for year, colleges in years.items %}
                                                                    {% if year %}

                                                                        <li>
                                                                            <span class="icon-container">
                                                                                <span class="folder-icon">
                                                                                    <i class="fas fa-folder"></i>
                                                                                </span>
                                                                                <span class="spinner-icon">
                                                                                    <i class="fas fa-spinner"></i>
                                                                                </span>
                                                                            </span>
                                                                            <a href="#" onclick="toggleSubMenu(event, '{{ category|slugify }}-{{ department|slugify }}-{{ semester|slugify }}-{{year}}'); return false;">{{ year }}</a>
                                                                            <ul class="sub-menu" id="{{ category|slugify }}-{{ department|slugify }}-{{ semester|slugify }}-{{year}}">

                                                                                {% for college_or_university, files in colleges.items %}
                                                                                    {% if files %}
                                                                                        <li>
                                                                                            <span class="icon-container">
                                                                                                <span class="folder-icon">
                                                                                                    <i class="fas fa-folder"></i>
                                                                                                </span>
                                                                                                <span class="spinner-icon">
                                                                                                    <i class="fas fa-spinner"></i>
                                                                                                </span>
                                                                                            </span>
                                                                                            <a href="#" onclick="toggleSubMenu(event, '{{ category|slugify }}-{{ department|slugify }}-{{ year }}-{{ college_or_university|slugify }}'); return false;">{{ college_or_university }}</a>
                                                                                            <ul class="sub-menu" id="{{ category|slugify }}-{{ department|slugify }}-{{ year }}-{{ college_or_university|slugify }}">
                                                                                                {% for file in files %}
                                                                                                    <li><i class="fas fa-file-alt"></i> <a href="{{ file.file_url }}">{{ file.file_name }}</a></li>
                                                                                                {% empty %}
                                                                                                    <li>No files available.</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </li>
                                                                                    {% endif %}
                                                                                {% empty %}
                                                                                    {% for file in colleges.files %}
                                                                                        <li><i class="fas fa-file-alt"></i> <a href="{{ file.pdf_file.url }}">{{ file.pdf_file.name }}</a></li>
                                                                                    {% empty %}
                                                                                        <li>No files available for this year.</li>
                                                                                    {% endfor %}
                                                                                {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {%else%}
                                                                        {% for year, colleges in years.items %}
                                                                            {%for i in colleges.files%}
                                                                            <li><i class="fas fa-file-alt"></i> <a href="{{i.file_url }}">{{ i.file_name }}</a></li>
                                                                            {%endfor%}
                                                                        {%endfor%}
                                                                    {%endif%}
                                                                {%endfor%}
                                                            </ul>
                                                        </li>
                                                    {%else%}
                                                    {% for semester, years in semesters.items %}
                                                            {%for i in years.files%}
                                                            <li><i class="fas fa-file-alt"></i> <a href="{{i.file_url }}">{{ i.file_name }}</a></li>
                                                            {%endfor%}
                                                        {%endfor%}
                                                    {%endif%}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {%else%}
                                    {% for semester, years in semesters.items %}
                                        {%for s in years.files%}
                                        
                                        <li><i class="fas fa-file-alt"></i> <a href="{{s.file_url }}">{{ s.file_name }}</a></li>
                                        {%endfor%}
                                    {%endfor%}
                                    {%endif%}
                                   

                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>No categories available.</li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <footer class="custom-dark-blue-footer text-white text-center py-3 fixed-bottom">
        Powered by Neurovision Technology PVT Ltd.
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        function toggleSubMenu(event, id) {
            event.preventDefault();
            const subMenu = document.getElementById(id);
            if (subMenu) {
                subMenu.style.display = subMenu.style.display === 'none' ? 'block' : 'none';
            }
        }
   
